.wrapper {
  font-weight: 500;
  cursor: pointer;
}

.btn {
  padding: 1rem 2rem;
  white-space: nowrap;
  user-select: none;
  border-radius: 12px;
  transition: 0.5s;

  &:hover {
    text-decoration: underline #8a84eb 2px;
    text-underline-position: under;

    &:active {
      box-shadow: inset 16px 20px 20px 16px rgb(0 0 0 / 10%);
    }
  }
}

.common {
  color: #fff;
  background-color: #766fde;

  &:hover {
    text-decoration: none;
    background-color: #8a84eb;
  }
}

.gradient {
  color: #fff;
  background: linear-gradient(
      90deg,
      rgb(145 139 236 / 100%),
      rgb(118 111 222 / 100%) 51%,
      rgb(145 139 236 / 100%)
    )
    0 / 200%;

  &:hover {
    text-decoration: none;
    background: linear-gradient(
        90deg,
        rgb(145 139 236 / 100%),
        rgb(118 111 222 / 100%) 51%,
        rgb(145 139 236 / 100%)
      )
      100% / 200%;

    &:active {
      box-shadow: inset 16px 20px 20px 16px rgb(0 0 0 / 10%);
    }
  }
}
