@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a,
button,
span,
select,
div,
input,
textarea {
  outline: 0;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.modal {
  position: relative;
}

.modal__container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 6px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%), 0 1px 20px 5px rgb(0 0 0 / 4%);
  transform: translate(-50%, -50%);
  animation: modal-fade-in 500ms;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.modal__closeWrapper {
  position: absolute;
  top: 0;
  right: -2rem;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 20%);
  transform: translate(-50%, -50%);
}

.modal__closeIcon {
  opacity: 0.5;
  fill: #333;
  transition: opacity 0.2s;
}

@keyframes modal-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
