.header {
  position: absolute;
  top: 2rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5rem;
}

.container {
  position: relative;
}

.left {
  position: relative;
}

.right {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
}

.title {
  font-size: 1.5625em;
  font-weight: 800;
}
